body {
	display: block;
	padding: 64px 79px 0px 80px;
	overflow: auto;
}

.app {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1120px;
	font-family: "proxima-nova", sans-serif;
	align-items: flex-start;
	gap: 32px;
	&_list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 24px;
	}
}
